body {
    background-color: #fffef9;
    font-family: "Arial,Helvetica,sans-serif";
    font-size: 10px;
    font-weight: 400;
    width: 1450px;
    margin-left:30px;
  }
  #headerWrap {
    width: 100%;
  }
  #headerWrap #titleBox {
    margin-top:50px;
    margin-left:15px;
  }
  #headerWrap #titleBox #title {
    font-size:30px;
  }
  #headerWrap #titleBox #Designer {
    font-size:20px;
    margin-left:30px;
  }
  #headerWrap #titleBox #Designer:hover {
    color:blueviolet;
    font-size: 22px;;
  }
  #headerWrap #titleBox #Request {
    font-size:20px;
    margin-left:30px;
  }
  #headerWrap #titleBox #Request:hover {
    color:blueviolet;
    font-size: 22px;
  }
  #headerWrap #titleBox #loginLetter {
    font-size:16px;
    margin-left:1000px;
  }
  #headerWrap #titleBox #loginLetter:hover {
    background-color: burlywood;
    color:white;
    font-size:20px;
  }
  #headerWrap #titleBox #joinLetter {
    font-size:16px;
    margin-left:10px;
  }
  #headerWrap #titleBox #joinLetter:hover {
    background-color: burlywood;
    color:white;
    font-size:20px;
  }
  #headerWrap #menuTab {
    width: 25%;
    position: absolute;
    text-align: right;
    display: inline-flex;
    cursor: pointer;
    margin-left: 67%;
    margin-top: 40px;
    min-width: 400px;
    overflow: hidden;
    z-index: 100000;
  }
  #headerWrap #menuTab li {
    display: inline;
    color: #264346;
    font-family: "montserrat, sans-serif";
    font-size: 14px;
    padding: 0px 10px;
    width: fit-content;
  }

  #contentWrap {
    margin-top: 10px;
  }
  #contentWrap .BannerWrap {
    position: relative;
    width:1300px;
    height: 600px;
    margin-left:75px;
    margin-top:20px;
  }
  #footerWrap {
    text-align: center;
    margin-top: 50px;
    font-size: 14px;
  }

  