<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static '/css/login.css' %}">
    <title>로그인</title>
</head>
<body>
    <img src="{% static '/image/main.png' %}">

    <div class="wrap">
        <div class="login">
            <h2>로그인하기</h2>
            <form method="POST" action ="">
                {%csrf_token%}
                
                {% for form in forms %}
                <div>
                    <label for="{{form.id_for_label}}">{{ form.label }}</label>"
                    {{form}}
                </div>
                {% endfor %}

                <div class="submit">
                    <input type ="submit" value ="Submit"/>    
                </div>
                
                {% if error %}
                {{error}}
                {% endif %}
            </form>
            
            <p>have not signed up yet?</p>
            <a href ="{% url 'register' %}">Sign Up</a>
        </div>
    </div>
</body>
</html>