{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/join.css' %}">
    <title>회원가입</title>

</head>
<body>
    <img src="{% static '/image/main.png' %}">

    <div class="wrap">
        <div class="join">
            <form method="POST" action ="">
                <h2>회원가입하기</h2>
                {% csrf_token %}
                {% for form in forms %}
                <div>
                    <label for="{{ form.id_for_label }}">{{ form.label}}</label>
                    {{form}}
                </div>
                {%endfor%}
                <div class="submit">
                    <input type="submit" value="회원가입">
                </div>
                {% if error %}
                {{error}}
                {% endif %}
                <!-- 에러 메세지는 'errorlist'라는 class값으로 전달되니 HTML, CSS를 이용할 때 이를 참고해주 -->
            </form>
        </div>
    </div>
</body>
</html>